*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    transition: all .4s linear;
}
.form-control:focus {
    box-shadow: none !important;
}
.posts .content{
    background: url(./Component/Assats/back.webp) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}